*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
/* note-the above line is responsible for hiding the scrollbar from the right side */
html{
font-size: 100%
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width:998px){
  html{
    font-size: 55%;
  }
}

@media(max-width:768px){
  html{
    font-size: 45%;
  }
}

@media(max-width:480px){
  html{
    font-size: 35%;
  }
}